name: Deploy python app on AWS Elastic Beanstalk!

env:
  APP_NAME: my-app
  ENV_NAME: Myapp-env
  S3_BUCKET: elasticbeanstalk-eu-west-1-683770257428
  AWS_REGION: eu-west-1
  AWS_PLATFORM: Python
  PIPELINE_ID: ${GITHUB_RUN_ID}-${GITHUB_RUN_NUMBER}

on:
  push:
    branches: [ main ]

jobs:
  create_zip_version:
    runs-on: ubuntu-latest
    steps:
    - name: Git clone rep
      uses: actions/checkout@v2

    - name: create zip-arch
      run: zip -r ${{env.APP_NAME}}-${{env.PIPELINE_ID}}.zip ./ -x *.git*

    - name: Configure AWS credentials 
      uses: aws-actions/configure-aws-credentials@v1
      with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}


    - name: Copy to s3
      run: aws s3 cp ${{env.APP_NAME}}-${{ env.PIPELINE_ID }}.zip s3://${{env.S3_BUCKET}}/ --region ${{env.AWS_REGION}}

          echo "Creating Elastic Beanstalk version"
          aws elasticbeanstalk create-application-version \
          --application-name ${{env.APP_NAME}} \
          --version-label ${{env.APP_NAME}}-${{env.PIPELINE_ID}} \
          --region ${{env.AWS_REGION}} \
          --source-bundle S3Bucket=${{env.S3_BUCKET}},S3Key=${{ env.APP_NAME }}-${{ env.PIPELINE_ID }}.zip \
          --auto-create-application
    
    - name: Sleep for 60 seconds
      uses: jakejarvis/wait-action@master
      with:
        time: '60s'

    - name: run update environment
      run: aws elasticbeanstalk update-environment --environment-name=${{env.ENV_NAME}} --version-label ${{env.APP_NAME}}-${{env.PIPELINE_ID}}
